__pycache__/*
tests/__pycache__/*
src/rfi-matcher/model/__pycache__/*
src/rfi-matcher/model/data_archives/__pycache__/*
src/rfi-matcher/custom/__pycache__/*
src/rfi-matcher/de421.bsp

data/satellites.tle

tokens.json

venv/*