__pycache__/*
tests/__pycache__/*
build/

examples/de421.bsp
examples/data/rfi_data.csv
examples/data/satellites.tle

src/rfi_matcher.egg-info/*

src/rfi_matcher/model/__pycache__/*
src/rfi_matcher/model/data_archives/__pycache__/*
src/rfi_matcher/custom/__pycache__/*
src/rfi_matcher/de421.bsp

src/rfi_matcher/data/satellites.tle
src/rfi_matcher/data/rfi_data.csv

tokens.json
.env

venv/*